[Desktop Entry]
Name=Notorious
# TODO: We could include the full path here but Meson requires
#       newer GLib to generate files for GResource
TryExec=notorious
Exec=notorious --gapplication-service
Type=Application
NoDisplay=true
Name[en_US]=org.gabmus.notorious.service.desktop
